.item {
    margin: 1.1rem 0;
  }
  
  .content {
    text-align: left;
    padding: 1.1rem;
    margin-left: 1rem;
    color: #daebfe;
  }
  
  .content h3 {
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
  }
  
  .actions {
    text-align: left;
    padding-left: 2rem;
    padding-bottom: 1.25rem;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #000000;
    border: 1px solid #000000;
    background-color: #ffd700;
    vertical-align: middle;
    height: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #ffe2ed;
  }